<p class="govuk-body">
    The portal <a href="https://opendata.mzv.sk">opendata.mzv.sk</a> was created with the aim of making available open
    data held by the Ministry of
    Foreign and European Affairs of the Slovak Republic available to the public. The content of the portal consists
    of datasets in a machine-processable form according to the standards for providing data in an electronic
    environment in accordance with Decree No. 78/2020 on standards for information technology in public
    administration. The content of the portal and the terms of its use are subject to the Creative Commons CC0
    licence.
</p>
