<p class="govuk-body">Portál <a href="https://opendata.mzv.sk">opendata.mzv.sk</a> bol vytvorený za
    účelom sprístupnenia otvorených údajov z činnosti Ministerstva
    zahraničných vecí a európskych záležitostí SR. Obsah portálu tvoria
    datasety v strojovo spracovateľnej forme podľa štandardov poskytovania
    údajov v elektronickom prostredí v súlade s Vyhláškou č.78/2020 o
    štandardoch pre informačné technológie verejnej správy. Obsah portálu a
    podmienky jeho použitia poliehajú licencii Creative Commons CC0.</p>
