{#
Displays a sidebar module with navigation containing the provided resources.
If no resources are provided then the module will not be displayed.

pkg       - The package dict that owns the resources.
active    - The id of the currently displayed resource.
action    - The resource action to use (default: 'read', meaning route 'resource.read').
is_activity_archive - Whether this is an old version of the resource (and therefore read-only)

Example:

  {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id, is_activity_archive=False %}

#}
{% set resources = pkg.resources or [] %}
{% if resources %}
    <section class="">
        <hr class="idsk-hr-separator govuk-!-margin-bottom-6">
        <h3 class="govuk-heading-m">{{ _("Resources") }}</h3>
        <ul class="govuk-list">
            {% for resource in resources %}
                <li class="tw-flex tw-items-center {{ ' active' if active == resource.id }}">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-5 tw-w-5 tw-block" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
                        </svg>
                    </span>
                    <a class="govuk-link govuk-link--no-visited-state tw-ml-2" href="{{ h.url_for('%s_resource.%s' % (pkg.type, 'read' if is_activity_archive else (action or 'read')), id=pkg.id if is_activity_archive else pkg.name, resource_id=resource.id, inner_span=true, **({'activity_id': request.args['activity_id']} if 'activity_id' in request.args else {})) }}">{{ h.resource_display_name(resource) }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
