{#
Renders a list of resources with icons and view links.

resources - A list of resources (dicts) to render
pkg - A package dict that the resources belong to.
is_activity_archive - Whether this is an old version of the dataset (and therefore read-only)

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}
<section id="dataset-resources" class="">
    <hr class="idsk-hr-separator govuk-!-margin-bottom-6">
    <h3 class="govuk-heading-m">{{ _('Data and Resources') }}</h3>
    {% if resources %}
        <div>
            <div class="tw-flow-root tw-mt-6">
                <ul role="list" class="idsk-list -tw-my-5 tw-divide-solid tw-divide-x-0 tw-divide-y tw-divide-gray-200">
                    {% for resource in resources|sort(reverse=true, attribute='position') %}
                        {% snippet 'package/snippets/mzv_resource_item.html', pkg=pkg, res=resource, is_activity_archive=is_activity_archive %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        {% if h.check_access('resource_create', {'package_id': pkg['id']}) and not is_activity_archive %}
            {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
                <div class="govuk-inset-text">
                    <p class="govuk-body-m">This dataset has no data</p>
                </div>
            {% endtrans %}
        {% else %}
            <div class="govuk-inset-text">
                <p class="govuk-body-m">{{ _('This dataset has no data') }}</p>
            </div>
        {% endif %}
    {% endif %}
</section>
